@tailwind base;
@tailwind components;
@tailwind utilities;

div#__next {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 100vh;
}

.swiper-pagination {
    display: flex;
    flex-direction: row;
    place-content: center;
    bottom: 0 !important;
    padding: 0.2em;
    background: rgba(230, 230, 230, 0.7);
}

.swiper.neutral-pagination .swiper-pagination {
    background: none;
}

@layer base {
    html,body {
        font-weight: 300;
        @apply text-base xl:text-lg
    }
}

@layer components {
    .title {
        font-family: Chivo, Overpass, Open Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }

    .link {
        @apply text-blue-700 underline
    }

    .button-primary {
        @apply py-2 px-4 bg-blue-500 text-white rounded
    }

    .section-title {
        @apply title text-2xl uppercase text-center my-4
    }

    .section-paragraph {
        @apply title text-xl uppercase my-3
    }

    .h-screen-50 {
        height: 50vh
    }

    .h-100p {
        height: 100%
    }
}
