@tailwind base;
@tailwind components;
@tailwind utilities;

div#__next {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 100vh;
}

.swiper-pagination {
    display: flex;
    flex-direction: row;
    place-content: center;
    bottom: 0 !important;
    padding: 0.2em;
    background: rgba(230, 230, 230, 0.7);
}
